.Board {
  background-color: #ffffde;
  height: 100vh;
}

.StationContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
  width: 100%;
}

.Mark {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.MarkContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  gap: 5px;
  right: 0;
}

.player1Mark {
  background-color: red;
}

.player2Mark {
  background-color: blue;
}


.Station {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 5px solid black;
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  margin: auto;
}

.hidden {
  visibility: hidden;
}


.centerpiece,
.topleft,
.topright,
.bottomleft,
.bottomright {
  border: 1rem solid black;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  margin: auto;
}

.leftgap {
  position: relative;
  left: 30%;
}

.rightgap {
  position: relative;
  right: 30%;
}

.abovegap {
  position: relative;
  top: 30%;
}

.belowgap {
  position: relative;
  bottom: 30%;
}